/* mobile & tablet*/
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    :root {
        --header-height: 69px;
    }
    /* Header */
    .header {
        position: fixed;
        background-color: var(--primary-color);
        left: 0;
        right: 0;
        z-index: 10;
    }
    .header-wrap {
        justify-content: space-between;
        margin: 0 auto;
    }
    .container__navbar {
        padding: 0 calc((100% - 600px) / 2);
        position: fixed;
        top: var(--header-height);
        z-index: 1;
        background-color: #fff;
    }
    .header__menu {
        display: block;
    }
    .header__menu-checked:checked ~ .navbar__list {
        display: flex;
    }
    .header__logo {
        display: block;
    }
    /* Navbar */
    .navbar__list {
        position: relative;
        display: none;
        flex-direction: column;
    }
    .navbar__item {
        padding: 0;
    }
    .navbar__link {
        display: block;
        border-bottom: 1px solid #e5e5e5;
        padding: 14px 0;
        margin: 0;
    }
    .navbar__item:hover .item-heading__list {
        display: none;
    }
    .navbar__link-icon {
        display: block;
    }
    .item-heading__list {
        position: relative;
        width: unset;
        left: 0;
    }
    .item-heading__link {
        padding: 12px 16px;
    }
    .item-heading__list:before {
        display: none;
    }
    .item-heading__list:after {
        display: none;
    }
    .item-heading__link:after {
        content: "";
        position: absolute;
        top: 96%;
        left: 16px;
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
    }
    /* Container */
    .container__slider {
        padding-top: calc(var(--header-height) + 50px);
    }
    .container__popular {
        padding-top: 70px;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    /* Header */
    .header-wrap {
        width: 600px;
    }
    /* Container */
    .slider-inside__img {
        width: 274px;
    }
    .tour-category__img-single {
        height: 600px;
    }
    .popular-2__img {
        width: 64%;
        padding: 64px 0 0;
    }
}

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .wide {
        width: 300px;
    }
    /* header */
    .header-wrap {
        width: 300px;
    }
    .navbar__list {
        position: fixed;
        left: 0;
        display: none;
        flex-direction: column;
        right: 0;
        background-color: #fff;
        padding: 0 calc((100% - 300px) /2);
    }
    /* Container */
    .slider-inside__img {
        left: 12%;
        width: 237px;
    }
    .slider-small {
        padding-top: 30px;
    }
    .popular__img {
        width: 88%;
    }
    .container__video {
        margin-top: 120px;
    }
    .section__heading.section__heading--size-l {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
    .section__description {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    .container__introduce {
        margin-top: 100px;
    }
    .container__video {
        margin-top: 90px;
    }
    .video__btn {
        width: 45px;
        height: 45px;
        top: 74%;
        left: 52%;
    }
    .popular__content-text {
        padding-right: 0;
    }
    .popular-2__img {
        padding: 50px 0 0;
    }
    .section__heading {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .section__description {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .tour-category__img-single {
        height: 477px;
    }
    .popular-2__img {
        padding: 40px 0 0;
    }
}